USE [master]
GO
/****** Object:  Database [HorseRacingDB]    Script Date: 6/4/2026 11:59:39 PM ******/
CREATE DATABASE [HorseRacingDB]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'HorseRacingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HorseRacingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'HorseRacingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HorseRacingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HorseRacingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HorseRacingDB]
GO
/****** Object:  Table [dbo].[ban_history]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ban_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blacklist_id] [int] NOT NULL,
	[action_by] [int] NOT NULL,
	[action_note] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bets]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[race_id] [int] NOT NULL,
	[participant_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[odds] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NULL,
	[payout_amount] [decimal](18, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[betting_transactions]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[betting_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bet_id] [int] NOT NULL,
	[wallet_transaction_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blacklist]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blacklist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[target_type] [nvarchar](50) NOT NULL,
	[target_id] [int] NOT NULL,
	[reason] [nvarchar](500) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[is_permanent] [bit] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[message_type] [nvarchar](20) NULL,
	[is_deleted] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_rooms]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_rooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[race_id] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[closed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[race_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horse_breeds]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horse_breeds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[breed_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[breed_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horse_owner_profiles]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horse_owner_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[stable_name] [nvarchar](100) NULL,
	[bank_account] [nvarchar](100) NULL,
	[approval_status] [nvarchar](20) NULL,
	[stable_address] [nvarchar](255) NULL,
	[description] [nvarchar](500) NULL,
	[reputation_stars] [float] NULL,
	[phone] [varchar](20) NULL,
	[identity_number] [varchar](50) NULL,
	[date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horses]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NOT NULL,
	[breed_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[age] [int] NULL,
	[gender] [nvarchar](20) NULL,
	[training_status] [nvarchar](50) NULL,
	[health_status] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[image_url] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jockey_agreements]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jockey_agreements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NOT NULL,
	[jockey_id] [int] NOT NULL,
	[message] [nvarchar](500) NULL,
	[status] [nvarchar](50) NULL,
	[sent_at] [datetime] NULL,
	[responded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jockey_profiles]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jockey_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[height] [float] NULL,
	[weight] [float] NULL,
	[win_rate] [float] NULL,
	[experience_year] [int] NULL,
	[ranking_score] [int] NULL,
	[license_number] [nvarchar](100) NULL,
	[bank_account] [nvarchar](100) NULL,
	[approval_status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[type] [nvarchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
	[read_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prize_distributions]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prize_distributions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[participant_id] [int] NOT NULL,
	[total_prize] [decimal](18, 2) NOT NULL,
	[owner_amount] [decimal](18, 2) NOT NULL,
	[jockey_amount] [decimal](18, 2) NOT NULL,
	[platform_fee] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[distributed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[race_participants]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race_participants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[race_id] [int] NOT NULL,
	[horse_id] [int] NOT NULL,
	[jockey_id] [int] NOT NULL,
	[gate_number] [int] NULL,
	[final_rank] [int] NULL,
	[finish_time] [int] NULL,
	[average_speed] [float] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_race_horse] UNIQUE NONCLUSTERED
(
	[race_id] ASC,
	[horse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_race_jockey] UNIQUE NONCLUSTERED
(
	[race_id] ASC,
	[jockey_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[race_registrations]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race_registrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[race_id] [int] NOT NULL,
	[horse_id] [int] NOT NULL,
	[jockey_id] [int] NOT NULL,
	[owner_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[jockey_share_percent] [float] NULL,
	[owner_share_percent] [float] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[race_simulations]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race_simulations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[race_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[current_tick] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[race_tracks]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race_tracks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[location] [nvarchar](255) NULL,
	[surface_condition] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[races]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[races](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[race_name] [nvarchar](255) NOT NULL,
	[tournament_id] [int] NOT NULL,
	[race_track_id] [int] NOT NULL,
	[race_date] [date] NOT NULL,
	[race_time] [time](7) NOT NULL,
	[race_round] [int] NOT NULL,
	[max_horses] [int] NOT NULL,
	[distance] [float] NOT NULL,
	[surface_type] [nvarchar](50) NULL,
	[weather] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[end_time] [time](7) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[referee_flags]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[referee_flags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[referee_id] [int] NOT NULL,
	[horse_id] [int] NOT NULL,
	[simulation_id] [int] NOT NULL,
	[violation_type] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[expiry_date] [datetimeoffset](6) NOT NULL,
	[revoked] [bit] NOT NULL,
	[token] [varchar](512) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKghpmfn23vmxfu3spu3lfg4r2d] UNIQUE NONCLUSTERED
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_upgrade_requests]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_upgrade_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[requested_role_id] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[submitted_at] [datetime] NULL,
	[reviewed_by] [int] NULL,
	[reviewed_at] [datetime] NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[simulation_horse_states]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[simulation_horse_states](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[simulation_id] [int] NOT NULL,
	[horse_id] [int] NOT NULL,
	[current_position] [float] NULL,
	[speed] [float] NULL,
	[acceleration] [float] NULL,
	[stamina] [float] NULL,
	[rank_in_race] [int] NULL,
	[status] [nvarchar](50) NULL,
	[last_updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tournaments]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournaments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tournament_name] [nvarchar](255) NOT NULL,
	[location] [nvarchar](255) NULL,
	[description] [nvarchar](1000) NULL,
	[registration_deadline] [datetime] NULL,
	[max_slots] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[total_prize] [decimal](18, 2) NULL,
	[tournament_status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[min_bet_amount] [numeric](38, 2) NULL,
	[prize_first] [numeric](38, 2) NULL,
	[prize_second] [numeric](38, 2) NULL,
	[prize_third] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[upgrade_request_documents]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[upgrade_request_documents](
	[upgrade_request_id] [int] NOT NULL,
	[document_url] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[upgrade_requests]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[upgrade_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[notes] [nvarchar](max) NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[requested_role] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
	[certification_number] [varchar](255) NULL,
	[date_of_birth] [date] NULL,
	[experience_years] [int] NULL,
	[full_name] [varchar](255) NULL,
	[height] [float] NULL,
	[identity_number] [varchar](255) NULL,
	[license_number] [varchar](255) NULL,
	[phone_number] [varchar](255) NULL,
	[stable_address] [varchar](255) NULL,
	[stable_name] [varchar](255) NULL,
	[weight] [float] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_connections]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_connections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[requester_id] [int] NOT NULL,
	[recipient_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Connection] UNIQUE NONCLUSTERED
(
	[requester_id] ASC,
	[recipient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[avatar_url] [varchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[provider_id] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[provider] [varchar](20) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_id] [int] NOT NULL,
	[transaction_type] [nvarchar](50) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NULL,
	[reference_type] [nvarchar](50) NULL,
	[reference_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallets]    Script Date: 6/4/2026 11:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[balance] [decimal](18, 2) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ban_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bets] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[bets] ADD  DEFAULT ((0)) FOR [payout_amount]
GO
ALTER TABLE [dbo].[bets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[betting_transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blacklist] ADD  DEFAULT ((0)) FOR [is_permanent]
GO
ALTER TABLE [dbo].[blacklist] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[blacklist] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ('USER') FOR [message_type]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[chat_rooms] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[chat_rooms] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[horse_owner_profiles] ADD  DEFAULT ('PENDING') FOR [approval_status]
GO
ALTER TABLE [dbo].[horse_owner_profiles] ADD  DEFAULT ((5.0)) FOR [reputation_stars]
GO
GO
GO
ALTER TABLE [dbo].[jockey_agreements] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[jockey_agreements] ADD  DEFAULT (getdate()) FOR [sent_at]
ALTER TABLE [dbo].[jockey_profiles] ADD  DEFAULT ((0)) FOR [win_rate]
ALTER TABLE [dbo].[jockey_profiles] ADD  DEFAULT ((0)) FOR [experience_year]
GO
ALTER TABLE [dbo].[jockey_profiles] ADD  DEFAULT ((0)) FOR [ranking_score]
GO
ALTER TABLE [dbo].[jockey_profiles] ADD  DEFAULT ('Pending') FOR [approval_status]
GO
ALTER TABLE [dbo].[jockey_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('GENERAL') FOR [type]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prize_distributions] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[prize_distributions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[race_participants] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[race_registrations] ADD  DEFAULT ('Registered') FOR [status]
GO
ALTER TABLE [dbo].[race_registrations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[race_simulations] ADD  DEFAULT ((0)) FOR [current_tick]
GO
ALTER TABLE [dbo].[race_simulations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[referee_flags] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_upgrade_requests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[role_upgrade_requests] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[simulation_horse_states] ADD  DEFAULT ((0)) FOR [current_position]
GO
ALTER TABLE [dbo].[simulation_horse_states] ADD  DEFAULT ((0)) FOR [speed]
GO
ALTER TABLE [dbo].[simulation_horse_states] ADD  DEFAULT ((0)) FOR [acceleration]
GO
ALTER TABLE [dbo].[simulation_horse_states] ADD  DEFAULT ((100)) FOR [stamina]
GO
ALTER TABLE [dbo].[simulation_horse_states] ADD  DEFAULT (getdate()) FOR [last_updated_at]
GO
ALTER TABLE [dbo].[tournaments] ADD  DEFAULT ((0)) FOR [total_prize]
GO
ALTER TABLE [dbo].[tournaments] ADD  DEFAULT ('Upcoming') FOR [tournament_status]
GO
ALTER TABLE [dbo].[tournaments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_connections] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('LOCAL') FOR [provider]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('SPECTATOR') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT ('SUCCESS') FOR [status]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ban_history]  WITH CHECK ADD FOREIGN KEY([action_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ban_history]  WITH CHECK ADD FOREIGN KEY([blacklist_id])
REFERENCES [dbo].[blacklist] ([id])
GO
ALTER TABLE [dbo].[bets]  WITH CHECK ADD FOREIGN KEY([participant_id])
REFERENCES [dbo].[race_participants] ([id])
GO
ALTER TABLE [dbo].[bets]  WITH CHECK ADD FOREIGN KEY([race_id])
REFERENCES [dbo].[races] ([id])
GO
ALTER TABLE [dbo].[bets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[betting_transactions]  WITH CHECK ADD FOREIGN KEY([bet_id])
REFERENCES [dbo].[bets] ([id])
GO
ALTER TABLE [dbo].[betting_transactions]  WITH CHECK ADD FOREIGN KEY([wallet_transaction_id])
REFERENCES [dbo].[wallet_transactions] ([id])
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[chat_rooms] ([id])
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chat_rooms]  WITH CHECK ADD FOREIGN KEY([race_id])
REFERENCES [dbo].[races] ([id])
GO
ALTER TABLE [dbo].[horse_owner_profiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[horses]  WITH CHECK ADD FOREIGN KEY([breed_id])
REFERENCES [dbo].[horse_breeds] ([id])
GO
ALTER TABLE [dbo].[horses]  WITH CHECK ADD FOREIGN KEY([owner_id])
REFERENCES [dbo].[horse_owner_profiles] ([id])
GO
ALTER TABLE [dbo].[jockey_agreements]  WITH CHECK ADD  CONSTRAINT [FK_jockey_agreements_jockey] FOREIGN KEY([jockey_id])
REFERENCES [dbo].[jockey_profiles] ([id])
GO
ALTER TABLE [dbo].[jockey_agreements] CHECK CONSTRAINT [FK_jockey_agreements_jockey]
GO
ALTER TABLE [dbo].[jockey_agreements]  WITH CHECK ADD  CONSTRAINT [FK_jockey_agreements_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[horse_owner_profiles] ([id])
GO
ALTER TABLE [dbo].[jockey_agreements] CHECK CONSTRAINT [FK_jockey_agreements_owner]
GO
ALTER TABLE [dbo].[jockey_profiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[prize_distributions]  WITH CHECK ADD FOREIGN KEY([participant_id])
REFERENCES [dbo].[race_participants] ([id])
GO
ALTER TABLE [dbo].[race_participants]  WITH CHECK ADD FOREIGN KEY([horse_id])
REFERENCES [dbo].[horses] ([id])
GO
ALTER TABLE [dbo].[race_participants]  WITH CHECK ADD FOREIGN KEY([jockey_id])
REFERENCES [dbo].[jockey_profiles] ([id])
GO
ALTER TABLE [dbo].[race_participants]  WITH CHECK ADD FOREIGN KEY([race_id])
REFERENCES [dbo].[races] ([id])
GO
ALTER TABLE [dbo].[race_registrations]  WITH CHECK ADD  CONSTRAINT [FK_race_registrations_horse] FOREIGN KEY([horse_id])
REFERENCES [dbo].[horses] ([id])
GO
ALTER TABLE [dbo].[race_registrations] CHECK CONSTRAINT [FK_race_registrations_horse]
GO
ALTER TABLE [dbo].[race_registrations]  WITH CHECK ADD  CONSTRAINT [FK_race_registrations_jockey] FOREIGN KEY([jockey_id])
REFERENCES [dbo].[jockey_profiles] ([id])
GO
ALTER TABLE [dbo].[race_registrations] CHECK CONSTRAINT [FK_race_registrations_jockey]
GO
ALTER TABLE [dbo].[race_registrations]  WITH CHECK ADD  CONSTRAINT [FK_race_registrations_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[horse_owner_profiles] ([id])
GO
ALTER TABLE [dbo].[race_registrations] CHECK CONSTRAINT [FK_race_registrations_owner]
GO
ALTER TABLE [dbo].[race_registrations]  WITH CHECK ADD  CONSTRAINT [FK_race_registrations_race] FOREIGN KEY([race_id])
REFERENCES [dbo].[races] ([id])
GO
ALTER TABLE [dbo].[race_registrations] CHECK CONSTRAINT [FK_race_registrations_race]
GO
ALTER TABLE [dbo].[race_simulations]  WITH CHECK ADD FOREIGN KEY([race_id])
REFERENCES [dbo].[races] ([id])
GO
ALTER TABLE [dbo].[race_simulations]  WITH CHECK ADD  CONSTRAINT [FK_simulation_race] FOREIGN KEY([race_id])
REFERENCES [dbo].[races] ([id])
GO
ALTER TABLE [dbo].[race_simulations] CHECK CONSTRAINT [FK_simulation_race]
GO
ALTER TABLE [dbo].[races]  WITH CHECK ADD FOREIGN KEY([race_track_id])
REFERENCES [dbo].[race_tracks] ([id])
GO
ALTER TABLE [dbo].[races]  WITH CHECK ADD FOREIGN KEY([tournament_id])
REFERENCES [dbo].[tournaments] ([id])
GO
ALTER TABLE [dbo].[referee_flags]  WITH CHECK ADD FOREIGN KEY([horse_id])
REFERENCES [dbo].[horses] ([id])
GO
ALTER TABLE [dbo].[referee_flags]  WITH CHECK ADD FOREIGN KEY([referee_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[referee_flags]  WITH CHECK ADD FOREIGN KEY([simulation_id])
REFERENCES [dbo].[race_simulations] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK1lih5y2npsf8u5o3vhdb9y0os] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK1lih5y2npsf8u5o3vhdb9y0os]
GO
ALTER TABLE [dbo].[role_upgrade_requests]  WITH CHECK ADD FOREIGN KEY([requested_role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_upgrade_requests]  WITH CHECK ADD FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[role_upgrade_requests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[simulation_horse_states]  WITH CHECK ADD FOREIGN KEY([horse_id])
REFERENCES [dbo].[horses] ([id])
GO
ALTER TABLE [dbo].[simulation_horse_states]  WITH CHECK ADD FOREIGN KEY([simulation_id])
REFERENCES [dbo].[race_simulations] ([id])
GO
ALTER TABLE [dbo].[upgrade_request_documents]  WITH CHECK ADD  CONSTRAINT [FKffj0otohe52eiahcbcg5hwgqp] FOREIGN KEY([upgrade_request_id])
REFERENCES [dbo].[upgrade_requests] ([id])
GO
ALTER TABLE [dbo].[upgrade_request_documents] CHECK CONSTRAINT [FKffj0otohe52eiahcbcg5hwgqp]
GO
ALTER TABLE [dbo].[upgrade_requests]  WITH CHECK ADD  CONSTRAINT [FK4k81tfrqofqiyecqios0uowox] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[upgrade_requests] CHECK CONSTRAINT [FK4k81tfrqofqiyecqios0uowox]
GO
ALTER TABLE [dbo].[user_connections]  WITH CHECK ADD FOREIGN KEY([recipient_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_connections]  WITH CHECK ADD FOREIGN KEY([requester_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallets] ([id])
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[upgrade_requests]  WITH CHECK ADD CHECK  (([requested_role]='ADMIN' OR [requested_role]='RACE_REFEREE' OR [requested_role]='JOCKEY' OR [requested_role]='HORSE_OWNER' OR [requested_role]='SPECTATOR'))
GO
ALTER TABLE [dbo].[upgrade_requests]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([provider]='GOOGLE' OR [provider]='LOCAL'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='ADMIN' OR [role]='RACE_REFEREE' OR [role]='JOCKEY' OR [role]='HORSE_OWNER' OR [role]='SPECTATOR'))
GO
USE [master]
GO
